*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    display: block;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

img {
    width: 100%;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
header{
    background: url("../img/Oval.png") no-repeat, url("../img/BG.png") no-repeat;
    background-size: 250px, cover;
    background-position: top 20% left 60%, right center;
}
.navbar{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    padding: 20px 50px;
}
.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mini-menu{
    display: none;
}
.navbar ul{
    margin-left: 30px;
}
.navbar ul li{
    display: inline-block;
    padding: 0 15px;
}
.navbar ul li a{
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.navbar ul li a.active{
    color: red;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}
.header h1{
    font-size: 50px;
    width: 50%;
}
.header form{
    position: relative;
}
.header p{
    margin: 30px 0;
    font-size: 18px;
    width: 50%;
    line-height: 30px;
    color: #555;
}
.header form input{
    width: 49%;
    padding: 20px 200px 20px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #dedede;
}
.header form button{
    font-size: 18px;
    padding: 17px 30px;
    position: absolute;
    left: 35%;
    top: 6%;
    border: none;
    background-color: #F04037;
    color: #fff;
    border-radius: 5px;
}
/* *****************************************Features*********************************** */
.features{
    background-color: #413E65;
}
.features-items{
    /* width: 1050px;    */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.feature-list{
    width: 50%;
}
.list-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    margin: 20px 0;
}
.list-box-text{
    margin-left: 30px;
}
.list-box img{
    width: 60px;
}
.list-box h1{
    font-size: 20px;
    font-weight: 500;
}
.list-box p{
    line-height: 30px;
    color: #555;
    font-size: 15px;
}
.feature-text{
    width: 45%;
}
.feature-text h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.feature-text p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    line-height: 35px;
}

.feature-text a{
    display: inline-block;
    padding: 15px 20px; 
    border: 1px solid #F04037;
    background-color: #F04037;
    color: #fff;
}
/************************************* Contents **************************************/
.contents{
    background: url(../img/Oval.png) no-repeat, url(../img/BG.jpg) no-repeat;
    background-position:  top 80% left 55% ,right center;
    background-size: 250px, contain;
}
.content-items{
    height: 90vh;
    display: flex;
    align-items: center;
}
.content-text{
    width: 50%;
}
.content-title{
    font-size: 50px;
    width: 90%;
}
.content-p{
    font-size: 18px;
    line-height: 35px;
    margin: 30px 0;
    color: #777;
}
.content-link{
    display: inline-block;
    padding: 18px 30px;
    border: none;
    background-color: #F04037;
    color: #fff;
}

/***************************************** LISTRS******************************** */
.content-lists .content-title{
    text-align: center;
    font-size: 40px;
    margin: 30px auto;
    width: 30%;
}
.content-lists{
    background-color: #F7F7FB;
    padding: 80px 0;
}
.list-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: #fff;

}
.list-img{
    width: 50px;
    margin-right: 10px;
}
.list-text{
    font-size: 18px;
}

.list-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;    
    margin: 0 auto;
}
.contents-1 .content-title{
    width: 100%;
}
.contents-1 .content-img{
    width: 50%;
    order: 0;
    margin: 80px 0;
}
.contents-2 .content-img{
    margin: 80px 0;
}
.contents-2{
    background-color: #413E65;
}
.contents-2 .content-text .content-title{
    color: #fff;
}

.contents-2 .content-text .content-p{
    color: #fff;
}
.content-items-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}


/* Commet section */
.comment-section{
    background-color: #F7F7FB;
    padding: 100px 0;
}
.comment-titles{
    text-align: center;
}
.comment-title{
    font-size: 40px;
}
.comment-p{
    margin: auto;
    font-size: 18px;
    width: 50%;
    padding: 20px 0;
    line-height: 30px;
    color: #777;
}
.testimonial-boxs{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.testimonial-box{
    width: 40%;  
    background-color: #fff;
    border-radius: 3%;
    margin:10px;
    padding: 30px;
}
.testimonial-user img{
    width: 40px;
}
.testimonial-user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.testimonial-user h4{
    margin-left: 10px;
}
.testimonial-user h4 span{
    font-weight: 400;
    font-size: 15px;
}
.testimonial-comment{
    width: 90%;
    line-height: 30px;
}

/* content */

.contents-2 form input{
    width: 100%;
    display: block;
    padding: 20px 30px;
    font-size: 18px;
}
.contents-2 form .content-link{
    width: 100%;
    border: none;
    padding: 20px;
    margin: 20px 0;
    font-size: 18px;
    border-radius: 5px;
}

/***************************************** Footer *****************************************/
footer{
    background-color: #fff;
    color: #000;
    padding: 50px 0;
}

.testimonial-comment p span{
    color: #5454D4;
}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.footer-item{
    margin-bottom: 100px;
}
.footer-item h5{
    font-size: 16px;
}
.footer-item h3{
    font-size: 20px;
}
.footer-item ul{
    margin-top: 20px;
}
.footer-item ul li{
    padding: 5px 0;
}
.footer-item ul li a{
    color: #000;
    font-weight: 300;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.footer-bottom .social-media i{
    width: 20px;
}
.footer-bottom .social-media i:hover{
    color: #5454D4;
}
.contact-a ul li a{
    font-weight: 500;
    color: #5454D4;
}

/*************************************** MOBILE RESPONSIVE *************************************** */



@media(max-width: 1260px){
    .container{
        width: 1000px;
    }
    .header form input{
        width: 51%;
    }
    .header form button{
        left: 35.5%;
        top: 6%;
    }
    .feature-list{
        width: 90%;
    }
    .list-box{
        width: 90%;
    }
    .content-list-items .content-title{
        width: 100%;
    }
}

@media(max-width: 1060px){
    .container{
        width: 900px;
    }
    .header-text h1{
        width: 50%;
        font-size: 45px;
    }
    .header form input{
        width: 53%;
    }
    
}

@media(max-width: 920px){
    .container{
        width: 820px;
    }
    .header-text h1{
        font-size: 45px;
    }
    .header form input{
        width: 55%;
    }
    .contents{
        background: none;
    }
    .contents .content-items{
        text-align: center;
        padding: 100px 0;
        height: 100%;
    }
    .content-title{
        width: 100%;
        font-size: 45px;
    }
    .content-text{
        width: 100%;
        /* text-align: center; */
    }
    .content-items{
        height: 50vh;
    }
    
    
    
}
@media(max-width: 820px){
    header{
        background: none;
        text-align: center;
        margin: auto;
    }
    .container{
        width: 720px;
    }
    .header p{
        padding: 30px 0;
    }
    .header-text p{
        width: 80%;
        margin: auto;
    }
    .header-text h1{
        width: 80%;
        margin: auto;
        font-size: 45px;
    }
    .navbar ul{
        display: none;
    }
    .mini-menu{
        display: block;
        width: 30px;
        }
    .mini-menu button{
        background: none;
        border: none;
    }
    .header form input{
        width: 80%;
        padding: 10px;
    }
    .header form button{
        padding: 9px;
        left: 74%;
        top: 5%;
    }
    .features-items{
        display: block;
        /* flex-direction: column; */
    }
    .feature-list{
        width: 100%;
    }
    .feature-text{
        width: 100%;
    }
    .feature-text h1{
        font-size: 35px;
    }
    
    .content-text{
        width: 100%;
    }
    .list-box{
        width: 100%;
    }
    .content-img{
        order: 1;
    }
    .content-text{
        order: 2;
    }
    .comment-p{
        width: 90%;
    }
    .testimonial-boxs{
        flex-direction: column;
    }
    .testimonial-box{
        width: 100%;  
    }
    .list-1, .list-2, .list-3{
        width: 100%;
        flex-direction: column;
    }
    .list-2{
        width: 100%;
        margin: 0;
    }
    .content-items-1{
        flex-direction: column;
    }
    .contents-1 .content-img{
        width: 100%;
    }
    .contents-2 form input{
        width: 100%;
        display: block;
        padding: 20px ;
        font-size: 18px;
    }
    
    .contents-2 form .content-link{
        width: 100%;
        border: none;
        padding: 20px;
        margin: 20px 0;
        font-size: 18px;
        border-radius: 5px;
    }
    .footer-items{
        display: block;
        text-align: center;
    }
    .footer-item{
        display:unset;
        /* width: 10%; */
    }
    
}
@media(max-width: 600px){
    .container{
        width: 500px;
    }
    .header-text h1{
        width: 100%;
        font-size: 35px;
        margin-bottom: 10px;
    }
    .header form input{
        width: 100%;
    }
    .header form button{
        left: 78%;
        top: 5%;
    }
    .content-p{
        widows: 100%;
    }
    .content-title{
        width: 100%;
        font-size: 35px;
    }
    .content-list-items .content-title{
        font-size: 35px;
    }
    .comment-title{
        font-size: 35px;
    }

    
}

@media(max-width: 520px){
    .container{
        width: 90%;
    }
    .header form button{
        left: 68%;
        top: 5%;
    }
}


























































